@font-face{
	font-family: 'Crimson Text';
	src: url('WorkSans-Regular.ttf');
}
html	{
	font-family: 'Work Sans', serif;
	font-size: 11pt;
}
body{
	margin: auto;
}
body > h1{
	text-align: center;
}
section.feed{
	width: 18%;
	margin: 1%;
	float: left;
}
section.feed:nth-child(even){
}
.post-item:nth-child(odd){
	background-color: lightgray;
}
h2{
	margin-bottom: 0;
	font-size: 16pt;
}

a:link{
	
	color: dodgerblue;
}
h2+a:link{
	
	font-weight: bold;
}
h3{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 10pt;
}
p{
	margin: 0;
}
output h1 {
	text-indent: 5px;
	font-size: 18pt;
	border-bottom: 3px solid black;
	font-size: 32px;
	overflow: hidden;
}
